@import url(tokens.css);
@import url(semantic.css);
@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@theme{ 
    /* BRAND */
    --color-brand: var(--color-primary-700);
    --color-brand-soft: var(--color-primary-300);
    --color-brand-hover: var(--color-primary-900);
    --color-text-secundary: var(--color-white);
}


