@import url(tokens.css);
@import url(semantic.css);
@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@theme{ 
    /* BRAND */
    --color-brand: var(--color-primary-700);
    --color-brand-soft: var(--color-primary-300);
    --color-border: var(--color-primary-400);
    --color-border-strong: var(--color-primary-700);


}
