:root{

    /*COLOR PRIMARIO*/
    --color-primary-950: #082f49;
    --color-primary-900: #0C4A6E;
    --color-primary-800: #075985;
    --color-primary-700: #0369A1;
    --color-primary-600: #0284C7;
    --color-primary-500: #0EA5E9;
    --color-primary-400: #38BDF8;
    --color-primary-300: #7DD3FC;
    --color-primary-200: #BAE6FD;
    --color-primary-100: #E0F2FEE;
    --color-primary-50: #F0F9FF;

    /*COLOR SECUNDARIO*/
    --color-secundary-950: #062b2d;
    --color-secundary-900: #16494b;
    --color-secundary-800: #15585a;
    --color-secundary-700: #147071;
    --color-secundary-600: #138e8e;
    --color-secundary-500: #1cb0ad;
    --color-secundary-400: #48d1cc;
    --color-secundary-300: #65e3db;
    --color-secundary-200: #9df2e9;
    --color-secundary-100: #cef9f4;
    --color-secundary-50: #f1fcfb;


    /*COLOR BASE*/
    --color-black: #000000;
    --color-white: #ffffff;
    --color-base-950: #F6F6F6;
    --color-base-900: #E9E9E9;
    --color-base-800: #D1D1D1;
    --color-base-700:#B8B8B8;
    --color-base-600: #9F9F9F;
    --color-base-500: #3878787;
    --color-base-400: #6E6E6E;
    --color-base-300: #565656;
    --color-base-200: #3D3D3D;
    --color-base-100: #242424;
    --color-base-50: #181818;

/* Typography*/

--main-font: Helvetica;

/*font-size*/

--fs-xxxx1: 9.0rem; /* Ultra grande*/
--fs-xxx1: 6.4rem; /* Super grande*/
--fs-xx1: 4.8rem; /* Ultra grande*/
--fs-x1: 4.0rem; /* Super grande*/
--fs-lg: 3.2rem; /* Ultra grande*/
--fs-md: 2.4rem; /* Super grande*/
--fs-sm: 2.0rem; /* Ultra grande*/
--fs-xs: 1.6rem; /* Super grande*/
--fs-xxs: 1.4.0rem; /* Ultra grande*/
--fs-xxxs: 1.2rem; /* Super grande*/

}